body {
    margin: 0;
}

h1 {
    font-family: "bree", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

p {
    text-align: center;
}

p,
p a {
    font-family: "bree", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    color: grey;
    text-decoration: none;
    margin: 0 10px;
    transition: 200ms;
}

p a.active {
    color: black;
}

p a:hover {
    color: black
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 10px;
    margin-top: 60px;
    padding: 0;
}

li {
    height: 40vh;
    flex-grow: 1;
    margin: 10px
}

li a {
    transition: 200ms
}

img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

li:last-child {
    flex-grow: 10;
}

@media (max-aspect-ratio: 1/1) {
    li {
        height: 30vh;
    }
}

@media (max-height: 480px) {
    li {
        height: 80vh;
    }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul {
        flex-direction: row;
    }

    li {
        height: auto;
        width: 100%;
    }

    img {
        width: 100%;
        max-height: 75vh;
        min-width: 0;
    }
}

li a:hover {
    filter: brightness(50%)
}

.about {
    margin: 15px 60px;
    font-weight: 300;
    color: black;
    text-align: left;
    line-height: 2.5;
    letter-spacing: 1px;
}

br {
    margin: 5px;
}

.announcement span {
    background: orangered;
    padding: 10px 20px;
    color: white;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 30px;
    display: inline-block;
}

.announcement span a {
    color: white;
    margin: 0;
    border-bottom: 3px solid black
}

.announcement span a:hover {
    color: black;
    margin: 0;
}

.project {
    border-radius: 10px;
    border: 1px solid rgb(188, 188, 188);
    display: block;
    margin: 5px;

}

.project img {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    height: 225px;
}

.project h2 {
    display: block;
    margin: 20px;
    font-family: "bree", sans-serif;
    font-size: 20px;
}

h2:not(.title) {
    font-family: "bree", sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-align: left;
    margin: 50px 20px;
    margin-bottom: -30px;
}